<!-- <div class="col-12">
  <div class="card-columns">
    <div class="card" *ngFor="let usuario of usuarios">
      <img class="card-img-top" [src]="usuario.avatar" />
      <div class="card-body">
        <h5 class="card-title">
          {{ usuario.first_name }} {{ usuario.last_name }}
        </h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>
</div> -->


<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card" *ngFor="let usuario of usuarios">
      <img class="card-img-top" [src]="usuario.avatar" width="100" height="300" />
      <div class="card-body">
        <h5 class="card-title">{{usuario.first_name}}  {{usuario.last_name}}</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">
          <span class="text-muted">
            ID: {{usuario.id}}
          </span>
        </p>
      </div>
    </div>
  </div>
 
</div>